/* The Modal (background) */
.modall {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* .modall:focus{
    display: block;
    top: 10%;
} */
.modal-content_imgae{
  
}
  /* Modal Content */
  .modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    /* width: 80%; */
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-backdrop{
    display: none !important;
}
.offcanvas-backdrop {
    background-color: #fff;
}
.offcanvas-backdrop.show {
    opacity: -0.5;
}

/* Maker */
.wrapper {
  display: flex;
}

.stick {
  height: 100px;
  width: 10px;
  background: #D2AC67;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}   

.flag {
  /* width: 120px; */
  /* height: 66px; */
  background-color: #D2AC67;
  position: relative;
  padding: 4px 6px;
  border: none !important;
  border-radius: 20px;
  box-shadow: none !important;
}
.flag::after {
  cursor: pointer;
  content: "";
  position: absolute;
  /* right: 1px; */
  top: 28px;
  /* bottom: -51px; */
  left: 6px;
  border-width: 18px 10px;
  border-style: solid;
  border-color: #d2ac67 transparent transparent transparent;
}
.dropdown-toggle::after {
  display: none;
  background-image: url(/images/47.png);
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

/* .image1 {
  background-image: url('/images/48.png');
  background-repeat: round;
  /* Các thuộc tính CSS khác */
}

.image2 {
  background-image: url('/images/49.png');
  background-repeat: round;
  /* Các thuộc tính CSS khác */
} */